doctype html
html
 include common/_head
 body
  include common/_header
  include common/triangle-works
  h2.works__title._logo
   span.works__title_words Мои работы
  section.slider__section
   .slider__left__column
    .visual__main-wrap
      img.visual-img(src="/assets/img/portfolio_img.png")
    .description__block
      .description__title сайт школы онлайн образования
      .description__skills Css, Javascript, Html
      .description__btn
       a.description__link(href="#") Перейти на сайт 
   .slider__right__column
    .visual__switch-section
      a.img__previous.switch__link(href="#")
       img.img-left(src="/assets/img/portfolio-left.jpg")
      a.img__next.switch__link(href="#")
       img.img-right(src="/assets/img/portfolio-right.jpg")   
  section.about-me
     h2.about-me__heading 
      span.about-me__heading-style Что обо мне говорят
     .about-me__reviews
      .about-me__reviews-section
        .about-me__review
          .about-me__review-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .about-me__img-section
            .about-me__dima
            .about-me__signature
             .about-me__signature-name Ковальчук Дмитрий
             .about-me__signature-info Основатель школы LoftSchool
         .about-me__review
          .about-me__review-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .about-me__img-section
            .about-me__zar
            .about-me__signature
             .about-me__signature-name Зар Захаров
             .about-me__signature-info Главный преподаватель курса
      .about-me__contact-section
        h3.contact__heading Связаться со мной
        form(action="contact-me__form")
          input(type="text",name="name",placeholder="Имя").contact-me__input._name
          input(type="text",name="email",placeholder="Email").contact-me__input._email
          textarea(name="txtarea",placeholder="Ваше сообщение").contact-me__input.__textarea
         .contact-me__btns
          a.contact-me__btn(href="#") Отправить
          a.contact-me__btn(href="#") Очистить

  include common/_footer   
