doctype html
html
 include common/_head
 body
  include common/_about_header
  h2.works__title._logo
   span.works__title_words Мои работы
  section.slider__section
   .slider__descr_section
   .slider__show_section
  section.about-me
   .container
    .about-me__logo
     h2.about-me__heading Что обо мне говорят
    .about-me__wrapper
     .about-me__reviews
       p sajdhaskdhksajhdjahd
      .about-me__first-review
      .about-me__second-review
     .about-me__contact-form 

  include common/_footer   
