.sprite-section 
       include ../../../build/assets/sprite/sprite.svg
header.header
     ul.social__list.social__list_header
       li.social__items.vk
        a(href="#").social__link
         svg.header__icon.vk
          use(xlink:href="#vk")
       li.social__items.git
        a(href="#").social__link
         svg.header__icon.git
          use(xlink:href="#github")
       li.social__items.in
        a(href="#").social__link
         svg.header__icon.in
          use(xlink:href="#in")
      nav.nav__wrap
       .nav__btn#nav__btn
        .menu_burger
        .menu_burger
        .menu_burger
       ul.nav
        li.nav__item
         a.nav__link(href="/works.html") Мои работы
        li.nav__item
         a.nav__link(href="/about.html") Обо мне
        li.nav__item
         a.nav__link(href="/blog.html") Блог
        li.nav__item
         a.nav__link(href="/index.html") Авторизация
  .wrapper
    .first-screen
     .bg__image 
      img(src="../assets/img/mountains_bg.jpg")
     .author__section-img
      img(src="../assets/img/portfolio_header.png")
     .author__section-block
      img(src="../assets/img/author.png")
      .blog__header--background
       h1.author__header Бутин Максим
       p.author__text Личный сайт, веб разработчика
     svg.arrow__slide__down
       use(xlink:href="#arrow_down")  