footer.footer__works 
   .upper__section
     ul.bottom__navigation
      li.upper__section--item
       a(href="#").upper__section--link Мои работы
      li.upper_section--item
       a(href="#").upper__section--link Обо мне
      li.upper_section--item
       a(href="#").upper__section--link Блог
      li.upper_section--item
       a(href="#").upper__section--link Авторизация
     ul.social__links
       li.upper__section--item__right
        a(href="#").upper__section--link--right
         svg.vk_round
          use(xlink:href="#vk_round")
       li.upper__section--item__right
        a(href="#").upper__section--link--right
         svg.git_round
          use(xlink:href="#github_round")
       li.upper__section--item__right
        a(href="#").upper__section--link--right
         svg.linkedin_round
          use(xlink:href="#in_round")
   .bottom__section
    .bottom__descr
     p.bottom__descr--p Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .bottom__copyright
     p.bottom__descr--p--right &copy Бутин Максим | создано с любовью в LoftSchool | 2016