/* ===========FOOTER STYLES ========== */


.footer {
	background-color: #555b5e;
	
}
.upper__section {
	
	height: 74px;
	position: relative;
}

li.upper__section--item {
	padding-top: 24px;
	margin:  0;
	
}
a.upper__section--link {
	color: #fff;
	margin: 0 30px;
	font-family: 'robotomedium',sans-serif;
	font-size: 16px;
	
}

.social__links {
	position: absolute;
	right: 0;
	top: 10px;
	

}

.upper__section--item__right{
	padding: 0 10px;
	}

.botom__section {
	height: 68px;
}	
.bottom__descr {
	display: inline-block;
}
.bottom__descr--p {
	color: #97a1a4;
	width: 570px;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 16px;
	font-family: 'robotolight',sans-serif;
	line-height: 1.5;

}

.bottom__descr--p--right {
	color: #97a1a4;
	font-family: 'robotolight',sans-serif;
	font-size: 16px;
	margin-right: 30px;
	margin: 22px 10px;
}

.bottom__copyright {
	float: right;
}