h1 {
	font-family: 'robotomedium',sans-serif;
   font-size: 28px;
   color: #455a64;
   margin: 9px 0 3px 0;
}
p {
	font-family: 'robotoregular';
	font-size: 18px;
	color: #86949c;
	 margin: 0 0 31px 0;
}
.mainframe {
	height: 400px;
	width: 385px;
	background-color: #fff;
	opacity: 0.9;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	border-radius: 5px;
  	flex: 1 0 auto;
}

.img__sect {
	padding-top: 37px;
}

.info {
	position: absolute;
    left: 0;
    bottom: 12px;
    font-family: 'robotomedium',sans-serif;
    & a {
	color: #fff;
	background-color: #13b6a1;
	
    }
    & a.about--link:hover {
    	background-color: #088c85;
    }
}

.about {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	width: 100%;
}

.about--item {
	display: inline-block;
	padding: 0;
}

.about--link {
	padding: 12px 32px;
	margin: 0 -3px 0 0;
	text-decoration: none;

}

a.about--link.first{
		border-bottom-left-radius: 5px;
	}
	a.about--link.last{
		border-bottom-right-radius: 5px;
		padding: 12px 34px;
	}

.page__front, .page_back {
 
  flex: 1 0 auto; // Равно высоте футера
}

svg {
	margin: 0 12px;
	

}
.icons {
	
	fill:#6fd1c6;
	&:hover {
		fill:#00bfa5;
	}
} 
