.front__page_heading{
	font-family: 'robotomedium',sans-serif;
   font-size: 28px;
   color: #455a64;
   margin: 9px 0 3px 0;
}
.front__page_text {
	font-family: 'robotoregular';
	font-size: 18px;
	color: #86949c;
	 margin: 0 0 31px 0;
}
.mainframe {
	height: 400px;
	width: 385px;
	background-color: #fff;
	opacity: 0.9;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	border-radius: 5px;
  	flex: 1 0 auto;
}

.img__sect {
	padding-top: 37px;
}

.info {
	position: absolute;
    left: 0;
    bottom: 12px;
    font-family: 'robotomedium',sans-serif;
    & a {
	color: #fff;
	background-color: #13b6a1;
	
    }
    & a.about--link:hover {
    	background-color: #088c85;
    }
}

.about {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	width: 100%;
}

.about--item {
	display: inline-block;
	padding: 0;
}

.about--link {
	padding: 12px 32px;
	margin: 0 -3px 0 0;
	text-decoration: none;

}

a.about--link.first{
		border-bottom-left-radius: 5px;
	}
	a.about--link.last{
		border-bottom-right-radius: 5px;
		padding: 12px 34px;
	}

.page__front, .page_back {
 
  flex: 1 0 auto; // Равно высоте футера
}

.svg {
	margin: 0 12px;
	

}
.icons {
	
	fill:#6fd1c6;
	&:hover {
		fill:#00bfa5;
	}
} 


/* ++++++++++++MAIN BACK PAGE STYLES++++++++++++++++++++++  */

.back__card_heading {
  font-family: 'BERNIERRegular-Regular',sans-serif;
  font-size: 35px;
  color: #455a64;
  margin: 20px 0;
}

.right__rect-welcome {
  width: 22px;
  height: 5px;
  background-color: #c5cbcd;
  position: absolute;
    left: 51px;
    top: 38px;
}

.left__rect-welcome {
  width: 22px;
  height: 5px;
  background-color: #c5cbcd;
  position: absolute;
    right: 51px;
    top: 38px;
}

.login__input {
  margin-left: 46px;
    width: 293px;
    height: 46px;
    margin-top: 5px; 
    margin-bottom: 15px;
    outline: none; /*убираем стандартную обводку браузера*/
    padding-left: 30px; 
    font-size: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    opacity: 1;
    box-shadow: 0px 0px 5px #cdd1da;
}


.login__img {
      background: url(../img/login.png) no-repeat;
    position: absolute;
    top: 85px;
    left: 23px;
    background-position: 16px;
    font-size: 17px;
    height: 50px;
    width: 45px;
    display: inline-block;
    background-color: #f0efe9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.pass__img {
    background: url(../img/key.png) no-repeat;
    position: absolute;
    top: 151px;
    left: 23px;
    background-position: 16px;
    font-size: 17px;
    height: 50px;
    width: 45px;
    display: inline-block;
    background-color: #f0efe9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.password__input {
  margin-left: 46px;
	 width: 293px;
    height: 46px;
    margin-top: 5px;
    margin-bottom: 15px; 
    outline: none; 
    padding-left: 30px; 
    font-size: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    opacity: 1;
    box-shadow: 0px 0px 5px #cdd1da;
}

.check__question {
  margin: 0 0 17px 0;
  font-family: 'robotobold',sans-serif;
  font-size: 16px;
}

/* ============CHECKBOX AND RADIO STYLE =============== */

.mainframe__check {
  margin-top: 15px;
  margin-bottom: 26px;
font-family: 'robotoregular';
font-size: 16px;
}
 input[type=checkbox] {
	display:none;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0 0 30px; 
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 22px;
  height: 20px;
    background: #13b6a1;
  
  box-shadow: inset 1px 1px 4px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
 }
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  
  background: #13b6a1;
  
}

.checkbox:checked + label:after {
  left: 26px;
  content: '\2713 ';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 20px;
   color: #fff;
    background: #13b6a1;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}

.mainframe__radio {
  font-family: 'robotolight';
}

label[for="radio-1"] {
	margin-right: 26px;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}
.radio + label {
    cursor: pointer;
}


.radio:checked + label:after {
    opacity: 1;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #13b6a1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    
}
/* ========= BOTTOM BACK PAGE ================ */
.info__login {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'robotomedium',sans-serif;
}

.submit__form {

  list-style: none;
  display: inline-block;
  padding: 0;
 
  & a {
    text-decoration: none;
color: #fff;
background-color: #13b6a1;
padding: 12px 1px;
  }
  & a:hover {
    background-color: #088c85;
  }
  & a {
    width: 190px;
    padding: 13px 63px;
    margin-left: -2px;
  }
  & a.first {
    border-bottom-left-radius: 5px;
  }
  & a.last {
    border-bottom-right-radius: 5px;
  }
}

.list__item__submit {

}
.submit__form_link {
  padding: 12px 1px;
}