html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: 0 0 auto;
}

.flip-container {
  flex: 1 0 auto;
}

.auth {
  width: 180px;
  height: 20px;
  right: 20px;
  top: 26px;
  position: absolute;

}

.button {
	cursor: pointer;
   font-family: 'robotoregular', sans-serif;
  padding:  15px 0 ;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 8px;
  color:#fff;
  &:hover {
    background-color: #fff;
    color:#00bfa5; 
  }
}


footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    height: 150px; 
	font-size: 16px;
	text-align: center;
	font-family: 'robotolight',sans-serif;
	color: #fff;
	
}

/*============PARALLAX STYLES==================== */
 
 ul#scene {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 	height: 100%;
 	width: 100%;	
 }

.layer {
	opacity: 0,8;
    padding: 0;
    margin: 0;
    height: 100%;
 	width: 100%;
    
}

.layer1{
	background: url('../img/Layer 1.jpg');
}

.layer2 {
	background: url('../img/Layer 2.jpg');
}

.sky_layer {
	background:url('..img/sky.jpg');
}

.layer4 {
	background: url('../img/Layer 4.jpg');
}

.layer5 {
	background:url('../img/Layer 5.jpg');
}

.layer6 {
	background:url('../img/Layer 6.jpg');
}
.layer7 {
	background:url('../img/Layer 7.jpg');
	
}
.layer8 {
	background:url('../img/Layer 8.jpg');

}
.cloud {
	background:url('../img/cloud_PNG4.jpg');
}
.cloud2 {
	background:url('../img/cloud_PNG5.jpg');
}







/* ============FLIP STYLES ============ */


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container.flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .page__front, .page__back {
	height: 400px;
	width: 385px;
	opacity: 1;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.page__front, .page__back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.page__front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.page__back {
	transform: rotateY(180deg);
}



@import 'common/greating';
@import 'common/front__page.scss';
@import 'common/back_page.scss';
